# Ambiente virtual
.venv/
venv/
env/

# Editor
.vscode/
.idea/

# Empacotamento (PyInstaller)
build/
dist/
*.spec

# Logs da aplicação
logs/
*.log

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Variáveis de ambiente / segredos
.env
.env.*

# Banco de dados local (caso use SQLite em algum ambiente)
*.sqlite3
*.db

# Sistema operacional
.DS_Store
Thumbs.db
